:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--text-default-dark);
  background-color: var(--text-default-light);
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text-default-light: #FFF;
  --text-default-dark: #111;

  --text-primary-light: #E1E1E1;
  --text-primary-dark: #656565;

  --bg-default-light: #FFF;
  --bg-default-dark: #111;

  --bg-main-light: #EF4934;
  --bg-main-dark: #333;

  --bg-defalt-hover-light: #D43824;
  --bg-defalt-hover-dark: #585858;

  --bg-hover-light: #F1F1F1;
  --bg-hover-dark: #CCC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 400;
  color: var(--text-default-dark);
  text-decoration: none;
}

ul {
  list-style-type: none;
}

a:hover {
  color: var(--bg-defalt-hover-dark);
}

body {
  min-height: 100vh;
  font-size: 14px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--bg-main-dark);
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
}

button:focus,
button:focus-visible {
  outline: none;
}

@media (prefers-color-scheme: light) {

  :root {
    color: var(--text-default-dark);
    background-color: var(--text-default-light);
  }

  a:hover {
    color: var(--bg-defalt-hover-dark);
  }

  button {
    background-color: var(--bg-main-dark);
  }
}
